.main__container {
  display: grid;

  grid-template-columns: 1200px;
  justify-content: center;

  margin-top: 4rem;
}

.sub__container {
  margin-top: 2.8rem;

  display: grid;

  grid-template-columns: 80%;
  justify-content: center;

  padding: 3rem 0;
}
