.main__container{

  margin-left: 20rem;
  margin-top: 5rem;
}

.img__icon {
  width: 250px;
  height: 250px;
}

.details__section {
 
}

.domain__name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-color);
}
