.main__title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;

  text-align: center;
}

.title__desc {
  margin-top: 1rem;
  text-align: center;

  font-style: italic;
  font-size: 1.05rem;
}

.options__container {
  margin-top: 2.5rem;

  display: flex;
  flex-direction: column;

  gap: 1rem;
  align-items: center;
}


@media screen and (max-width:400px) {
  
  .main__title {
   padding: 20px;
   font-size: 20px;
  }
}