:root {
  --primary-color: #9b8ae6;
  --primary-transparent-color: #9b8ae664;
  --secondary-color: #5d376f;
  --accent-color: #d43433;
  --text-color: #e7e3f9;
  --background-color: #060412;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x:hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Banner-container{
  height: 100vh;

}


.Banner-text{
 color:white;
 font-size:4rem;
 line-height: 1em;
}

.left-side{
  padding:160px;
  padding-bottom:10px;
  padding-right:70px;
}

.head-text{
  color:var(--accent-color);
}


.getBtn{
    background-color: var(--primary-color);
    padding:10px 100px ;
    font-size: large;
    font-weight: bold;
}

.icon-container{
  justify-content: center;
  align-items: center;
  padding:0px 160px;
margin-bottom: 50px;
margin-top: -10px;
  gap:5;
}

.icon-box{
  border-right:1px solid#9b8ae6;
  padding:3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.icon-box img{
height: 8rem;
width: 8rem;

}

.text{
  text-align: center;
  font-size: 17px;
}

.icon-box:hover{
 transform: translateY(-8px);
}

.login-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./public/images/loginbg.jpg);
}



.wrapper{
  width:420px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box{
  width: 100%;
  height: 50px;
 
  margin: 30px 0;
  position: relative;
}

.input-box input{
  width: 100%;
  height: 100%;
  background:transparent;
  border: none;
  outline: none;
  border:2px solid rgba(225,255,255,.2) ;
  border-radius:40px;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
  color:#fff;
}

.input-box i{
 position: absolute;
 right:20px;
 top: 50%;
 transform: translateY(-50%);
 font-size: 20px;
 color: #060412;
}

 .wrapper .remember-forgot{
  display: flex;;
  justify-content: space-between;
  font-size: 14.5px;
  margin:-15px 0 15px;
 }

 .remember-forgot a{
  color: #fff;
 }

 .remember-forgot a:hover{
  text-decoration: underline;
 }

 .wrapper .btn{
  width:100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius:40px;
  box-shadow: 0 0 10px rgba(0,0 ,0,0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
 }

 .wrapper .register-link{
  font-size:14.5px;
  text-align:center;
  margin-top: 20px 0 15px;
 }

.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}


.login-form {
  transform: perspective(800px) rotateY(0deg);
}

.signup-form {
  transform: perspective(800px) rotateY(180deg);
}

.navbar{
 background-color: transparent;
 color:var(--primary-color);
 padding: 26px;
 padding-left:100px;
}


.navbar a{
  color: #9b8ae6;

}

.navbar-toggler-icon{
font-weight: 800;
}

.login{
    background: transparent;
    border:1px solid #9b8ae6;
    color: #9b8ae6;
    padding:10px 20px;
    border-radius:10px;
}

.login:hover{
  background:#9b8ae6;
  border:1px solid #060412;
  color:#060412
}

@media (min-width:320px)  { 

  .left-side {
    padding: 50px;
    padding-bottom: 10px;
    padding-right: 70px;
    height:100%;
}

.Banner-text{
  font-size:2rem;
}
 }
